@import "tailwindcss";

@font-face {
  font-family: "OAGothic-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OAGothic-Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-sans: "OAGothic-Medium", sans-serif;
  --font-bold: "OAGothic-ExtraBold", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background-color: #f9fafb;
  color: #111827;
}
